*{
	margin:0; padding: 0; position: relative;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}
body{
	background-color:#18191A;
}
html{
	scroll-behavior: smooth;
}
/*---------------------------------------modal css starts here*/
.modal-backdrop{
	z-index: 999;
}
.modal-content{
	background-color: #0C0D0D;
	border:1px solid #fff;
}
.modal-header{
	border:none;
}
.modal-body{
	padding: 1rem 1rem 0rem 1rem !important;
}
.modal-footer{
	border:none;
	padding: 0rem .75rem .75rem .75rem !important;
}

.fb-icon-color{
	color:#0F90F3;
	text-decoration: none;
}
.fb-icon-color:hover{
	color:none;
}
.google-icon-color{
	color:#D34836;
	text-decoration: none;
}
.checkbox-1-color{
	color: #D34836;
}
.form-check{
	padding-top: 1rem;
}
.google-icon-color:hover{
	color:red;
}
.modal-footer .btn{
	width: 100%;
}
.top .nav1 .form-group .btn{
	width:100%;
	margin-top:20px;
}
.loginFormSignupLink{
	color:#fff;
	cursor: pointer;
	text-decoration: none;
}


/*---------------------------------------modal css ends here*/

.top .logo-font{
	font-size: 45px;
	text-decoration: none;
}
.top .nav1 .navbar-brand{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.top .bg-nav{
	background-color: #000;
	
}
.top .nav1 .form-control{
	width:100%;
	color:#fff;
	margin-top: 15px;
	border:none;
	background-color: transparent!important;
	border-bottom:1px solid #A60505;
}
.top .nav1 .form-control:focus{
	box-shadow: none;
}
.top .nav1 .form-inline .btn:focus{
	box-shadow: none;
}

.top .nav1 .nav-link{
	color:#fff;
	font-weight: 500;
	padding: 25px 0px 0px 0px;
}
.top .nav1 .nav-link:hover{
	color:#A60505;
}

.top .nav1 .form-inline .btn {
    margin-left: -65px;
    color: #A60505;
    margin-top: 20px;
}
.top{
	padding-bottom:100px;
}
#cart-hide{
	visibility: hidden;
}



/*Responsive*/

@media only screen and (min-width:319px) and (max-width: 360px){
	.mob-hide{
		display: none;
	}
	.top .logo-font {
    	font-size: 18px;
    	margin-top: 15px;
	}
	.top .nav1 .form-control {
		margin-top: 7px;
	}
	.top .nav1 .form-inline .btn {
	    margin-left: -42px;
	    margin-top: 7px;
	}
}
@media only screen and (min-width: 361px) and (max-width: 429px){
	.mob-hide{
		display: none;
	}
	.top .logo-font {
    	font-size: 24px;
    	margin-top: 15px;
	}
	.top .nav1 .form-control {
		margin-top: 7px;
	}
	.top .nav1 .form-control {
		width: 240px;
	}
}
@media only screen and (min-width: 430px) and (max-width: 575px) {
	.mob-hide{
		display: none;
	}
	.top .logo-font {
    	font-size: 24px;
    	margin-top: 15px;
	}
	.top .custom-margin {
	    margin-right: 29px;
	    margin-left: 0px;
	}
	.top .nav1 .form-control {
		margin-top: 7px;
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.top .logo-font {
	    font-size: 25px;
	    margin-top: 15px;
	}
	.top .custom-container .nav-link{
		font-size: 13px;
	}
	.custom-container .col-xl-1,
	.custom-container .col-lg-1,
	.custom-container .col-md-1,
	.custom-container .col-sm-1,
	.custom-container .col-1{
		padding-right:0px !important;
		padding-left: 0px !important;
	}
	.top .nav1 .form-control {
		margin-top: 7px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
	.top .logo-font {
	    font-size: 33px;
	    margin-top: 15px;
	}
	.custom-container .col-xl-1,
	.custom-container .col-lg-1,
	.custom-container .col-md-1,
	.custom-container .col-sm-1,
	.custom-container .col-1{
		padding-right:0px !important;
		padding-left: 0px !important;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.top .logo-font {
	    font-size: 33px;
	    margin-top: 10px;
	}
	.top .nav1 .form-inline .btn {
    	margin-left: 485px;
    	margin-top: -38px;
	}
}